@tailwind base;
@tailwind components;
@tailwind utilities;

// custom generous styles for ui 
@layer base {
    body {
        @apply bg-slate-900 font-body px-5;
    }
}

@layer components {
    .page-container {
        width: 1200px;
        @apply mx-auto;
    }

    .movies-list .swiper-slide {
        width: 300px;
        height: auto;
    }

    .banner .swiper {
        height: 100%;
        // padding-bottom: 20px;
    }



}

.movies-list {
    .movie-item {
        @media screen and (min-width: 375px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }

    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .selected {
        @apply text-primary;
    }
}